a {
  text-decoration: none;
  color: white;
}

/* a:hover,
a:active {
  color: green;
} */

a.email {
  color: black;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.logo-img {
  background-image: url('/assets/logo_256.jpg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  /* position: absolute;
  top: 10px;
  left: 15%; */
}

.page-title {
  font-size: 3em;
  line-height: 3em;
  font-family: 'Ubuntu';
  /* font-family: 'Work Sans'; */
}

mat-toolbar {
  height: 136px;
}

.contact-card {
  margin-left: 10px;
}
