<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center">
    <a routerLink="/" alt="logo" class="logo-img"></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center">
    <a routerLink="/">
      <h1 class="page-title">Ász Ingatlan</h1>
    </a>
  </div>
  <div fxFlex fxLayout fxHide.xs fxLayoutAlign="center center">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <mat-card class="contact-card">
          <mat-card-content>
            <b>Telefonszám: </b>
            <span>06-20-404-5171</span>
          </mat-card-content>
          <mat-card-content>
            <b>E-mail: </b>
            <a class="email" href="mailto:info@asz-ingatlan.com">info@asz-ingatlan.com</a>
          </mat-card-content>
        </mat-card>
      </li>
      <li *ngIf="(isAuth$ | async)">
        <a routerLink="/new-real-estate">Hirdetésfeladás</a>
      </li>
      <li *ngIf="(isAuth$ | async)">
        <a style="cursor: pointer;" (click)="onLogout()">Kijelentkezés</a>
      </li>
    </ul>
  </div>
</mat-toolbar>