<ngb-carousel>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home1.jpeg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home2.png" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home3.jpeg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home4.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home5.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home6.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home7.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
  <ng-template ngbSlide>
    <a routerLink="view-real-estate">
      <img src="/assets/home8.jpeg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </a>
  </ng-template>
</ngb-carousel>