<div fxLayoutAlign="center center">
  <mat-card class="search-card">
    <app-real-estate-search></app-real-estate-search>
  </mat-card>
</div>
<mat-table fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px" [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="card">
    <mat-header-cell *matHeaderCellDef mat-sort-header>card</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-card class="item-card">
        <mat-card-title>Eladó ház az 1. kerületben</mat-card-title>
        <mat-card-subtitle>48.5 M Ft</mat-card-subtitle>
        <!-- <app-carousel-basic></app-carousel-basic>
        <angular-image-slider [images]="imageUrls"></angular-image-slider> -->
        <p-galleria [images]="images" [showCaption]="false" panelWidth="540" panelHeight="405" frameHeight="80" frameWidth="120"
          [autoPlay]="false"></p-galleria>
        <!-- <mat-grid-list cols="4">
          <mat-grid-tile colspan="4" rowspan="3">
            <img mat-card-image src="https://images.unsplash.com/photo-1490174651618-63469b221857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e22f2fca63097c3490108b6dfd82d0a7&auto=format&fit=crop&w=800&q=80"
              alt="Ház kép">
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image src="https://images.unsplash.com/photo-1490174651618-63469b221857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e22f2fca63097c3490108b6dfd82d0a7&auto=format&fit=crop&w=800&q=80"
              alt="Ház kép">
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image src="https://images.unsplash.com/photo-1490174651618-63469b221857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e22f2fca63097c3490108b6dfd82d0a7&auto=format&fit=crop&w=800&q=80"
              alt="Ház kép">
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image src="https://images.unsplash.com/photo-1490174651618-63469b221857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e22f2fca63097c3490108b6dfd82d0a7&auto=format&fit=crop&w=800&q=80"
              alt="Ház kép">
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image src="https://images.unsplash.com/photo-1490174651618-63469b221857?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e22f2fca63097c3490108b6dfd82d0a7&auto=format&fit=crop&w=800&q=80"
              alt="Ház kép">
          </mat-grid-tile>
        </mat-grid-list> -->

        <mat-card-content>
          <p>
            Váralja közkedvelt utcájából, a Mátrayból kínáljuk megvételre ezt a kiváló állapotú házban lévő 68m2-es lakást. A közelmúltban
            felújított és átalakított ingatlan egy amerikai konyhás nappalival, 2 hálószobával, 2 fürdőszobával és egy vendég
            wc-vel rendelkezik. Lorem ipsum ...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/view-real-estate">
            <button mat-icon-button>
              <mat-icon>details</mat-icon>
              <span class="nav-caption"> Részletek</span>
            </button>
          </a>
          <button mat-icon-button>
            <mat-icon>stars</mat-icon>
            <span class="nav-caption">Mentés</span>
          </button>
        </mat-card-actions>
        <!-- <mat-card-footer>
          345 m2 telek
        </mat-card-footer> -->
      </mat-card>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>