.welcome {
  padding-bottom: 20px;
}

app-carousel-basic
  > ngb-carousel
  > div
  > div.carousel-item.ng-star-inserted.active
  > a
  > img {
  height: 400px;
  width: 1020px;
}

mat-card {
  max-width: 1020px;
}

.top-container {
  background-color: #efefef;
  width: 100%;
  padding: 20px 0;
}

.search-button {
  min-width: 130px;
  line-height: 70px;
  font-weight: bold;
  font-size: large;
}
