<section class="new-real-estate-form">
  <h2 fxLayoutAlign="center center">Új ingatlan hirdetés létrehozása</h2>

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newRealEstateForm" (ngSubmit)="create()">
    <mat-form-field>
      <input type="text" placeholder="Ingatlan rövid neve" class="form-control" formControlName="title" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['title'].errors?.required && newRealEstateForm.controls['title'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea placeholder="Rövid leírás" class="form-control" formControlName="description" matInput required></textarea>
      <mat-error *ngIf="newRealEstateForm.controls['description'].errors?.required && newRealEstateForm.controls['description'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Ingatlan típusa" ngModel formControlName="realEstateType" required>
        <mat-option [value]=realEstateTypes.flat>Lakás</mat-option>
        <mat-option [value]=realEstateTypes.house>Ház</mat-option>
        <mat-option [value]=realEstateTypes.rentedRoom>Albérlet</mat-option>
        <mat-option [value]=realEstateTypes.office>Iroda</mat-option>
        <mat-option [value]=realEstateTypes.garage>Garázs</mat-option>
        <mat-option [value]=realEstateTypes.site>Telek</mat-option>
        <mat-option [value]=realEstateTypes.summerHouse>Nyaraló</mat-option>
        <mat-option [value]=realEstateTypes.agriculturalArea>Mezőgazdasági terület</mat-option>
        <mat-option [value]=realEstateTypes.soil>Termőföld</mat-option>
      </mat-select>
      <mat-error *ngIf="newRealEstateForm.controls['realEstateType'].errors?.required && newRealEstateForm.controls['realEstateType'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Hirdetés célja" ngModel formControlName="intent" required>
        <mat-option [value]=0>Eladás</mat-option>
        <mat-option [value]=1>Kiadás</mat-option>
      </mat-select>
      <mat-error *ngIf="newRealEstateForm.controls['intent'].errors?.required && newRealEstateForm.controls['intent'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Ár (HUF)" class="form-control" formControlName="price" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['price'].errors?.required && newRealEstateForm.controls['price'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Irányítószám" class="form-control" formControlName="zipCode" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['zipCode'].errors?.required && newRealEstateForm.controls['zipCode'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Település" class="form-control" formControlName="city" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['city'].errors?.required && newRealEstateForm.controls['city'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <!-- TODO!!! autocompletee & stuff -->
    <mat-form-field *ngIf="newRealEstateForm.controls['city'].value=='budapest' || newRealEstateForm.controls['city'].value=='Budapest'">
      <input type="number" placeholder="Kerület" min="1" max="23" class="form-control" formControlName="district" matInput>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Utca" class="form-control" formControlName="street" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['street'].errors?.required && newRealEstateForm.controls['street'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Házszám" class="form-control" formControlName="addressNum" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['addressNum'].errors?.required && newRealEstateForm.controls['addressNum'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Alapterület (m2)" class="form-control" formControlName="floorArea" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['floorArea'].errors?.required && newRealEstateForm.controls['floorArea'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Telek (m2)" class="form-control" formControlName="lotSize" matInput>
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Szobaszám" class="form-control" formControlName="roomCount" matInput required>
      <mat-error *ngIf="newRealEstateForm.controls['roomCount'].errors?.required && newRealEstateForm.controls['roomCount'].touched">Kötelező kitölteni.</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="newlyBuilt" color="primary" matInput> Új építésű</mat-checkbox>
    <mat-form-field *ngIf="newRealEstateForm.controls['newlyBuilt'].value==false">
      <input type="number" placeholder="Építés éve" class="form-control" formControlName="constructionYear" matInput>
    </mat-form-field>
    <div layout="row">
      <button flex *ngIf="!(isLoading$ | async)" mat-raised-button>Mégse</button>
      <button flex *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="newRealEstateForm.invalid">Létrehozás</button>
    </div>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>