<div class="view-real-estate" fxLayout="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">

  <mat-card class="item-card">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{price}} M Ft</mat-card-subtitle>
    <mat-card-actions *ngIf="isAuth$ | async">
      <a [routerLink]="['/real-estates/edit', id]">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
          <span class="nav-caption">Szerkesztés</span>
        </button>
      </a>
      <button mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
        <span class="nav-caption">Törlés</span>
      </button>
    </mat-card-actions>
    <p-galleria *ngIf="images" class="photo-gallery" [images]="images" [showCaption]="false" panelWidth="850" panelHeight="637"
      frameWidth="160" frameHeight="120" [autoPlay]="false"></p-galleria>
    <mat-card-content>
      <p class="description">
        {{description}}
      </p>
    </mat-card-content>

  </mat-card>
  <mat-card class="maps-card">
    <mat-card-title>Térkép</mat-card-title>
    <iframe width="800" height="600" frameborder="0" style="border:0" [src]="googleMapsUrl" allowfullscreen>
    </iframe>
  </mat-card>
  <!-- <mat-card> -->
  <section fxLayout="row" class="details-card">
    <mat-card>
      <mat-card-title>Ár</mat-card-title>
      <mat-card-subtitle>{{price}} M Forint</mat-card-subtitle>
      <mat-card-title *ngIf="realEstateType">Épület típusa</mat-card-title>
      <mat-card-subtitle *ngIf="realEstateType">{{realEstateType | realEstateTypeTranslate}}</mat-card-subtitle>
      <mat-card-title>Alapterület</mat-card-title>
      <mat-card-subtitle>{{floorArea}} m2</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title *ngIf="lotSize">Telek nagysága</mat-card-title>
      <mat-card-subtitle *ngIf="lotSize">{{lotSize}} m2</mat-card-subtitle>
      <mat-card-title>Szobák száma</mat-card-title>
      <mat-card-subtitle>{{roomCount}}</mat-card-subtitle>
      <!-- <mat-card-title>Ingatlan állapota</mat-card-title>
      <mat-card-subtitle>{{Felújított}}</mat-card-subtitle> -->
    </mat-card>
    <!-- <mat-card>
      <mat-card-title>Extrák</mat-card-title>
      <mat-list>
        <mat-list-item> Bútorozott </mat-list-item>
        <mat-list-item> Légkondicionáló </mat-list-item>
        <mat-list-item> Amerikai konyha </mat-list-item>
        <mat-list-item> Gáz </mat-list-item>
      </mat-list>
    </mat-card> -->
  </section>
  <!-- </mat-card> -->
</div>