<section class="new-real-estate-form">
  <h3 fxLayoutAlign="center center">Új ingatlan hirdetés létrehozása</h3>
  <mat-vertical-stepper linear=false fxLayout="column" fxLayoutAlign="center center" #stepper>
    <mat-step [stepControl]="newRealEstateFirstForm">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newRealEstateFirstForm">
        <ng-template matStepLabel>Alapadatok</ng-template>

        <mat-form-field>
          <input type="text" placeholder="Ingatlan rövid neve" class="form-control" formControlName="title" matInput required>
          <mat-error *ngIf="newRealEstateFirstForm.controls['title'].errors?.required && newRealEstateFirstForm.controls['title'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea placeholder="Leírás" class="form-control" formControlName="description" matInput required></textarea>
          <mat-error *ngIf="newRealEstateFirstForm.controls['description'].errors?.required && newRealEstateFirstForm.controls['description'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Ingatlan típusa" ngModel formControlName="realEstateType" required>
            <mat-option [value]=realEstateTypes.flat>Lakás</mat-option>
            <mat-option [value]=realEstateTypes.house>Ház</mat-option>
            <mat-option [value]=realEstateTypes.rentedRoom>Albérlet</mat-option>
            <mat-option [value]=realEstateTypes.office>Iroda</mat-option>
            <mat-option [value]=realEstateTypes.garage>Garázs</mat-option>
            <mat-option [value]=realEstateTypes.site>Telek</mat-option>
            <mat-option [value]=realEstateTypes.summerHouse>Nyaraló</mat-option>
            <mat-option [value]=realEstateTypes.agriculturalArea>Mezőgazdasági terület</mat-option>
            <mat-option [value]=realEstateTypes.soil>Termőföld</mat-option>
          </mat-select>
          <mat-error *ngIf="newRealEstateFirstForm.controls['realEstateType'].errors?.required && newRealEstateFirstForm.controls['realEstateType'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Ár (M Ft)" class="form-control" formControlName="price" matInput required>
          <mat-error *ngIf="newRealEstateFirstForm.controls['price'].errors?.required && newRealEstateFirstForm.controls['price'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-button-toggle-group color="primary" aria-label="Hirdetés célja" name="intent" value="sell">
          <mat-button-toggle value="sell">Eladó</mat-button-toggle>
          <mat-button-toggle value="rent">Kiadó</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-button matStepperNext color="accent">Tovább</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="newRealEstateSecondForm">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newRealEstateSecondForm">
        <ng-template matStepLabel>Cím</ng-template>

        <mat-form-field>
          <input type="number" placeholder="Irányítószám" class="form-control" formControlName="zipCode" matInput required>
          <mat-error *ngIf="newRealEstateSecondForm.controls['zipCode'].errors?.required && newRealEstateSecondForm.controls['zipCode'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Település" class="form-control" formControlName="city" matInput required>
          <mat-error *ngIf="newRealEstateSecondForm.controls['city'].errors?.required && newRealEstateSecondForm.controls['city'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <!-- TODO!!! autocompletee & stuff -->
        <mat-form-field *ngIf="newRealEstateSecondForm.controls['city'].value=='budapest' || newRealEstateSecondForm.controls['city'].value=='Budapest'">
          <input type="number" placeholder="Kerület" min="1" max="23" class="form-control" formControlName="district" matInput>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Utca" class="form-control" formControlName="street" matInput required>
          <mat-error *ngIf="newRealEstateSecondForm.controls['street'].errors?.required && newRealEstateSecondForm.controls['street'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Házszám" class="form-control" formControlName="addressNum" matInput required>
          <mat-error *ngIf="newRealEstateSecondForm.controls['addressNum'].errors?.required && newRealEstateSecondForm.controls['addressNum'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext color="accent">Tovább</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="newRealEstateThirdForm">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newRealEstateThirdForm">
        <ng-template matStepLabel>Részletek</ng-template>

        <mat-form-field>
          <input type="number" placeholder="Alapterület (m2)" class="form-control" formControlName="floorArea" matInput required>
          <mat-error *ngIf="newRealEstateThirdForm.controls['floorArea'].errors?.required && newRealEstateThirdForm.controls['floorArea'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Telek (m2)" class="form-control" formControlName="lotSize" matInput>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Szobaszám" class="form-control" formControlName="roomCount" matInput required>
          <mat-error *ngIf="newRealEstateThirdForm.controls['roomCount'].errors?.required && newRealEstateThirdForm.controls['roomCount'].touched">Kötelező kitölteni.</mat-error>
        </mat-form-field>

        <mat-checkbox fxLayoutAlign="start start" formControlName="newlyBuilt" color="primary" matInput> Új építésű</mat-checkbox>

        <mat-form-field *ngIf="newRealEstateThirdForm.controls['newlyBuilt'].value==false">
          <input type="number" placeholder="Építés éve" class="form-control" formControlName="constructionYear" matInput>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext color="accent">Tovább</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="newRealEstateFourthForm">
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newRealEstateFourthForm">
        <ng-template matStepLabel>Fényképek feltöltése</ng-template>

        <button mat-raised-button type="button">Új képek feltöltése</button>
        <!-- <input hidden type="file" #imgFileInput multiple accept="image/*" [fileUploadInputFor]="fileUploadQueue" />
        <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
          <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>

        </mat-file-upload-queue> -->
        <div layout="row">
          <button flex mat-button matStepperPrevious>Vissza</button>
          <button flex type="submit" mat-raised-button color="primary" [disabled]="newRealEstateFirstForm.invalid || newRealEstateSecondForm.invalid || newRealEstateThirdForm.invalid || newRealEstateFourthForm.invalid"
            (click)="save()">Mentés</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</section>