<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input type="email" placeholder="E-mail cím" class="form-control" formControlName="email" matInput required>
      <mat-error *ngIf="loginForm.controls['email'].errors?.required && loginForm.controls['email'].touched">Kötelező kitölteni.</mat-error>
      <mat-error *ngIf="!loginForm.controls['email'].valid && !loginForm.controls['email'].errors?.required">Érvénytelen e-mail cím.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" placeholder="Jelszó" class="form-control" formControlName="password" matInput required>
      <mat-error *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password'].touched">Kötelező kitölteni.</mat-error>
      <mat-error *ngIf="loginForm.controls['password'].errors?.minlength">Legalább 6 karakter hosszúnak kell lennie.</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Bejelentkezés</button>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>