<mat-table fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px" [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="card">
    <mat-header-cell *matHeaderCellDef mat-sort-header>card</mat-header-cell>
    <mat-cell *matCellDef="let realEstate">
      <mat-card class="item-card">
        <mat-card-title>{{realEstate.title}}</mat-card-title>
        <mat-card-subtitle>
          <b>{{realEstate.price}} M Ft</b>
        </mat-card-subtitle>

        <mat-card-content>

          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let mediaUrl of realEstate.mediaUrls">

              <a *ngIf="mediaUrl.type === 'image'">
                <img [src]="mediaUrl.url" alt="Random first slide">
                <div class="carousel-caption">
                </div>
              </a>
              <iframe *ngIf="mediaUrl.type === 'video'" width="560" height="315" [src]="mediaUrl.url" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
            </ng-template>
          </ngb-carousel>

        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/view-real-estate">
            <button mat-icon-button>
              <mat-icon>details</mat-icon>
              <span class="nav-caption"> Részletek</span>
            </button>
          </a>
          <button mat-icon-button>
            <mat-icon>stars</mat-icon>
            <span class="nav-caption">Mentés</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>