.item-card {
  max-width: 600px;
}

.item-card-link {
  text-decoration: none;
}

.item-card:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 21px 21px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.mat-icon-button {
  padding-right: 110px;
}

mat-card-content {
  margin-top: 20px;
}

.search-card {
  margin: 20px 0;
}

.cover-img {
  max-height: 400px;
  max-width: 550px;
}
