mat-form-field {
  width: 400px;
}

.new-real-estate-form {
  margin: 20px 0;
}

.main-divider {
  margin: 20px 0;
}

.preview-image {
  max-width: 350px;
  margin: 5px 0;
}

.preview-image-small {
  max-width: 200px;
}

.media-list {
  max-width: 450px;
  list-style-type: none;
}

.media-list-item {
  margin: 5px 0;
}

.gallery-preview {
  max-width: 450px;
}

.gallery-button {
  max-width: 40px;
  padding-right: 20px;
}
