<form [@fadeInOut] fxLayoutGap="10px" [formGroup]="searchForm" (ngSubmit)="onSearch()" fxLayout="row" fxLayout.lt-sm="column"
  fxLayoutAlign="center center">
  <mat-form-field fxFlex="19%">
    <mat-select placeholder="Ingatlan típusa" formControlName="realEstateType" (change)="onTypeFilterChange($event)">
      <mat-option [value]=realEstateTypes.flat>Lakás</mat-option>
      <mat-option [value]=realEstateTypes.house>Ház</mat-option>
      <mat-option [value]=realEstateTypes.rentedRoom>Albérlet</mat-option>
      <mat-option [value]=realEstateTypes.office>Iroda</mat-option>
      <mat-option [value]=realEstateTypes.garage>Garázs</mat-option>
      <mat-option [value]=realEstateTypes.site>Telek</mat-option>
      <mat-option [value]=realEstateTypes.summerHouse>Nyaraló</mat-option>
      <mat-option [value]=realEstateTypes.agriculturalArea>Mezőgazdasági terület</mat-option>
      <mat-option [value]=realEstateTypes.soil>Termőföld</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="35%">
    <input type="text" formControlName="address" placeholder="Cím" matInput (change)="onAddressChange($event.target.value)">
  </mat-form-field>
  <mat-form-field fxFlex="13%">
    <input type="number" placeholder="Min Ár (M Ft)" class="form-control" formControlName="minPrice" matInput (change)="onMinPriceChange($event.target.value)">
  </mat-form-field>
  <mat-form-field fxFlex="13%">
    <input type="number" placeholder="Max Ár (M Ft)" class="form-control" formControlName="maxPrice" matInput (change)="onMaxPriceChange($event.target.value)">
  </mat-form-field>
  <mat-button-toggle-group fxFlex="8%" color="primary" formControlName="intent" fxLayout="column" fxLayout.lt-sm="row" (change)="onIntentChange($event.value)">
    <mat-button-toggle value="buy">Eladó</mat-button-toggle>
    <mat-button-toggle value="rent">Kiadó</mat-button-toggle>
  </mat-button-toggle-group>

  <button type="submit" fxFlex="15%" flex mat-raised-button color="primary">
    Keresés
  </button>

</form>